  /* Container to wrap the grid and text */
  .container {
    position: relative;
    height: 100%;
    height: 100vh;
    height: 100dvh;
    background-color:var(--white);
    overflow: hidden;
  }
  /* Elastic grid styles */
  .elastic-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Grid acts as the interactive background */
  }
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    transition: transform 0.5s ease-out;
    z-index: -10;

  }
  /* Positioning L's in each corner */
  .corner-text {
    position: absolute;
    color: var(--black);
    font-size: 1rem;
    font-family: var(--font-sm-text);
    font-weight:400;
    z-index: 10000;
  }
  .top-left {
    top: 16px;
    left: 16px;
  }
  .top-right {
    top: 16px;
    right: 16px;
  }
  .bottom-left {
    bottom: 16px;
    left: 16px;
  }
  .bottom-left-two{
    bottom: 16px;
    left: 120px;
  }
  .bottom-right {
    bottom: 16px;
    right: 16px;
  }
  .logo-wired{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 90000000;
  }

  .container-top-desktop{
    margin-top: 3rem;
  }
  .dropdown-item{
    color: var(--black);
    border: 2px solid var(--black);
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    margin-top: 1rem;
    border-radius: 25px;
    width: 220px;
    font-family: var(--font-sm-text);
    font-size: 18px;
  }
  /* Animation */
  .capsule-image-container{

    position: absolute;
    height: 100%;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    top: 0%;
    left:0%;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15rem;


  }
  .capsule-image-container img{
    height: 60%;
    filter: grayscale(100%); /* Fully desaturates the image */

  }
  /* Overlay text styles */
  .landing-text-container{

    width: 100;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;


  }
  .overlay-text-title {

    font-size: 48px;
    font-weight: bold;
    z-index: 10; 
    color: var(--black);
    letter-spacing: 2px;
    font-family: var(--font-sm-text);
    text-transform: uppercase;


  }
  .overlay-text-subtitle-one {

    color: var(--black);
    font-family: var(--font-sm-text);
    font-size:18px;
    font-weight: 400;
    z-index: 10; /* Ensure text is above the grid */
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

  }
  .agents-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 500px;
    margin-top: 1rem
  }
  .square-arrow-text-container{

      font-family: var(--font-sm-text);
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;
      cursor: crosshair;


      z-index: 900000;

  }
  .overlay-text-subtitle-three{
    color: var(--black);
    font-family: var(--font-sm-text);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    border: 2px solid var(--black);
    border-radius: 25rem;
    width: 220px;

    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    margin-top: 1rem;
    border-radius: 25px;
    text-decoration: none;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }  
  .desktop-third-title{
    font-size: 18px;
  }

  /* Hides in Desktop */

  .container-top-mobile{
    display: none;
  }
  .burn-link{
    text-decoration: none;
    color: var(--black);
  }
  .burn-link:visited{
    color: inherit; 
  
  }
  .corner-text.top-right {
    display: none;
  }
  .cta-container-mobile-first{
    display: none;
  }
  .ca-container-mobile{
    display: none;
  }


  @media (width <= 1500px) {
    .landing-cta-container{
      align-items: end;
    }
  }


  /* Mobile */

  @media (width <= 1000px) {

  /* Hides in Mobile */

  .landing-cta-container{
    display: none;
  }
  .container-top-desktop{
    display: none;
  }
  .corner-text.top-right {
    display: block;
  }

  .landing-cta-mobile-container{
    position: absolute;
    /*border: 2px solid red;*/
    bottom: 0px;
    height: 35%;
    width: 100%;
    padding: 0% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 9000000;
  }
  .mobile-container-top-two{
    z-index: 900000;
  }
  /* Shows/ Change in Mobile */
  .text-cta-mobile  a {
    color: var(--black);
    text-decoration: none; 
  }
  .text-cta-mobile  a:visited {
    color: var(--black);
  }
  .container-top-mobile{
    position: absolute;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 65%;
    width: 100%;
    /* border: 2px solid gold;*/
    padding: 5% 5% 5% 5%;
  }
  .mobile-logo-wired-container{
    width: 100%;
    height: 50%;
    /*border: 2px solid rgb(76, 0, 255);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .mobile-logo-wired-container img{
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    object-fit: contain;
  }
  .mobile-title-subtitle-container{
    width: 100%;
    /*border: 2px solid rgb(255, 0, 170);*/
    display: flex;
    flex-direction: column;
    text-align: center;


  }
  .mobile-title{
    width: 100%;
    text-align: center;
  }
  .mobile-title-img{
      width: 75%;
  }
  .mobile-subtitle{
    color: var(--black);
    font-family: var(--font-sm-text);
    font-size: 1.8vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-subtitle-text{
    width: 75%;
  }
  .mobile-pepe-capsule-container{
    width: 100%;
    /*border: 2px solid grey;*/
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .mobile-capsule{
    width: 60%;
  }
  .agents-container{
    width: 100%;
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .mobile-agent-text-arrow-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    



    background-color: var(--black);
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 18px;

  }
  .agent-text-mobile{
    color: var(--white);
    font-family: var(--font-sm-text);
    align-items: center;
    text-transform:uppercase;
    font-size: 12px;

  }
  .animal-text-mobile{
    color: #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
  }
  .cta-container-mobile-first{
    display: block;
    width: 100%;
    /*border:2px solid green;*/
    margin-bottom: 0%;
    text-align: center;

  }
  .text-cta-mobile{
    color: var(--black);
    font-family: var(--font-sm-text);
    padding-bottom: 5%;
    font-size: 1.8vh;
    text-align: center;

    
  }
  .cta-docs-mobile{
    padding-bottom: 5%;
  }
  .parenthesis-text{
    margin-left: -4px;


  }
  .ca-container-mobile{
    display: block;
    width: 100%;
    word-wrap: break-word;
    text-align: center;

    padding: 0 2rem 0 2rem;
    /* border: 2px solid red;*/


  }
  .ca-mobile{
    padding-bottom: 0%;
  }


  }