/*Mobile*/
/* component*/

.container_transfer_widget{
    height: calc(100% - 6rem);
    height: calc(100vh - 6rem);
    height: calc(100dvh - 6rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:var(--white);
    font-family: var(--font-sm-text);

    overflow: hidden;

}
.boxMainContainer{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.boxMain{


  width: 100%;

}
.box{

    padding: 20px;
    border-radius: 12px;
    background-color:#29201D;
    color:var(--black);



}
.boxright{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 12px;
      background-color: #29201D;
      color: var(--black);
      align-items: center;
      margin-top: 1rem;


}
.balance{
  font-size: 32px;
}
.transferButtonBox{
  padding: 20px;
  border-radius: 12px;
  background-color:#29201D;
  color:var(--black);
  width: 100%;

  margin-top: 1rem;
}
.buttonUnderText{
  margin-top: 1rem;
  font-size: 12px;
}
.tohome{


  background-color: transparent;
  
  color: var(--black);
  cursor: pointer;

  text-decoration: none;
  height: 1.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--black);

  font-family: var(--font-sm-text) !important;
  font-size: 13px !important;
  font-weight: 600;
}
/*Transfer*/

.inputimagebox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.8rem;
  margin-top: 0.5rem;

  width: 100%;
  height: 65px;

  border-radius: 12px;
  background-color: #4C3D38;
  color:var(--black);
  
}
.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.formSeparator{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.inputimage{
  width: 40px;
  margin-right: 0.8rem;
}
.inputLabel{
font-size: 12px;
}
.inputField {
    width: 50%;
    padding: 10px;
    height: 60px;
    border-radius: 0 12px 12px 0;
    font-size: 20px;

    background-color: #4C3D38;
    color: var(--black);
    font-weight: bold;
    font-family: var(--font-sm-text);
    border: 2px solid #4C3D38;
    text-align: end;

}
.inputField:focus {
    outline: none;
    box-shadow: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.transferButton {
    width: 100%;
    padding: 10px;
    background-color: #65B9E7;
    border: 1px solid #65B9E7;
    border-radius: 12px;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-sm-text);
}
.transferButton:hover {
    background-color: var(--black);
    color: var(--white);
}


/*graph*/
.transferGraph_container{

  right: 0%;
  padding: 20px;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color:#1313133d;
  color:var(--black);
  font-family: var(--font-sm-text);
  width: 90%;
  max-width: 400px;
}

/*menu*/
.container_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;

  background-color:#29201D;
  padding: 1rem;
}


/* Footer container */
.container_footer {
  position: relative;
  width: 100%;
  height: 3rem; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns menu to the right */
  padding: 0 20px; /* Right padding */
  background-color: #29201D;
}

/* Menu styling */
.menu {
  position: absolute;

  right: 1rem;
  width: 225px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  color: var(--black);
  font-family: var(--font-sm-text);
  margin: 0;
}

/* Dropdown menu */
.dropdownmenu {
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 1rem;
  border-radius: 12px 12px 0 24px;
  margin-bottom: -40px;
  position: absolute;
  bottom: 50px;
  right: 30px;
  transform: translateX(0%); /* Hidden by default (opens right to left) */
  transition: transform 0.3s ease-in-out;
  z-index: 9 !important;
}

/* Show menu when open */
.menu.open .dropdownmenu {
  transform: translateX(0);
}

/* Menu toggle button */
.nav-toggle {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 20px;
  align-items: center;
  justify-content: center;


}

.bar {
  display: block;
  width: 20px;
  height: 4px;
  background-color: var(--black);
  transition: opacity 0.3s ease;
  margin-bottom: 0.2rem;
  z-index: 999999;
}

.nav-toggle.open .bar {
  opacity: 0;
  z-index: 999999;
}

/* Close Icon (X Animation) */
.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}




/* Paw Icon */
.pawicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: -5px;
  z-index: 999999;

}



/*Desktop*/

@media (width >= 1000px) {
  .container_transfer_widget{
    flex-direction: row;

  }
  .boxMainContainer{
    display: flex;
    flex-direction: row;
  }
  .box{
    margin-top: 0px;
 

  }
  .boxgraph{
    border-color: red;
    min-width: 600px;
  }






}