/* component*/

.container_transfer_widget{
    height: 100%;
    height: 100vh;
    height: 100dvh;
    padding-bottom: 10%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--white);
    font-family: var(--font-sm-text);
}

.box{

    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 8px;
    background-color:#1313133d;
    color:var(--black);
    width: 90%;
    max-width: 400px;


}

.tohome{
  position: fixed;
  top: 30px;
  left:10px ;

  background-color: transparent;
  
  color: var(--black);
  cursor: pointer;
  margin-left: 2vw;
  text-decoration: none;
  height: 1.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--black);

  font-family: var(--font-sm-text) !important;
  font-size: 13px !important;
  font-weight: 600;
}
/*Transfer*/


.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.inputLabel{
font-size: 12px;
}
.inputField {
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 5px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--font-sm-text);
    border: 1px solid grey;
}
.inputField:focus {
    outline: none;
    box-shadow: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.transferButton {
    width: 100%;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-sm-text);
}
.transferButton:hover {
    background-color: var(--black);
    color: var(--white);
}
.percentageContainer {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.percentageContainer button {
    padding: 4px 8px;
    background-color:transparent;
    border: 0.5px solid var(--black);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: var(--black);
}
.percentageContainer_button{
    background-color: transparent;
}
.percentageContainer button:hover {
    background-color: #252525;
}

/*graph*/
.transferGraph_container{

  right: 0%;
  padding: 20px;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color:#1313133d;
  color:var(--black);
  font-family: var(--font-sm-text);
  width: 90%;
  max-width: 400px;
}

/*menu*/
.menu{
  position: fixed;
  bottom: 0px;
  right:20px;
  color: var(--black);

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.pawicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: -5px;
  z-index: 1000000;
}
.dropdownmenu{
  background-color:var(--white);
  border: 1px solid var(--black);
  padding: 1rem;
  border-radius: 12px 12px 0 24px;
  margin-bottom: -12px;



}


.nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}

.bar {
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transition: opacity 0.3s ease;
  margin-bottom: 0.2rem;
}

.nav-toggle.open .bar {
  opacity: 0;
}

.nav-toggle .bar {
  height: 1px;
  width: 100%;
  background-color: var(--black);

  transition: all 100ms ease-in-out;
}

.nav-toggle:hover {
  cursor: pointer;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}


/*menu*/

.tohome{
  position: fixed;
  top: 30px;
  left: 20px;
  
}