/* TransferWidget.module.css */

.transferWidget_container{
    height: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;align-items: center;
    background-color:var(--white);
}

.transferWidget {
    position: absolute;
    top: 15%;
    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 8px;
    background-color:#1313133d;
    color:var(--black);
    font-family: var(--font-sm-text);
    width: 90%;
    max-width: 400px;


}
.walletButton {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-bottom: 2rem;
   font-family: var(--font-sm-text);
}
.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.inputLabel{
font-size: 12px;
}
.inputField {
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 5px;
    background-color: var(--white);
    color: var(--black);
   font-family: var(--font-sm-text);
    border: 1px solid grey;
}
.inputField:focus {
    outline: none;
    box-shadow: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.transferButton {
    width: 100%;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.transferButton:hover {
    background-color: var(--black);
    color: var(--white);
}
.percentageContainer {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.percentageContainer button {
    padding: 4px 8px;
    background-color:transparent;
    border: 0.5px solid var(--black);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: var(--black);
}
.percentageContainer_button{
    background-color: transparent;
}
.percentageContainer button:hover {
    background-color: #252525;
}

  /* Positioning L's in each corner */
  .corner-text {
    position: absolute;
    color: var(--black);
    font-size: 1rem;
   font-family: var(--font-sm-text);
    font-weight:400;
    z-index: 10000;
  }
  .top-left {
    top: 16px;
    left: 16px;
  }
  .top-right {
    top: 16px;
    right: 16px;
  }
  .bottom-left {
    bottom: 16px;
    left: 16px;
  }
  .bottom-left-two{
    bottom: 16px;
    left: 120px;
  }
  .bottom-right {
    bottom: 16px;
    right: 16px;
  }
  .burn-link{
    text-decoration: none;
    color:var(--black);
  }
  .burn-link:visited{
    color: inherit; 

  }


  /*fire*/

  .fire_container{
    position: absolute;
    bottom: 0%;
  }